body {
    background-image: url(./Space-Image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#Planet {
  width: 400px;
  padding-left: 30px;
  text-align: center;
  
  
}

h1 {
    color: #460880;
    font-family: fantasy;
    font-size: 60px;
    text-decoration: #460880 underline;
}

h2 {
    color: #460880;
    font-family: fantasy;
    font-size: 40px;
}

#Lightspeed {
  position: absolute;
  z-index: 3;
  top: 60px;
  left: 680px; 
  width: 100px;
  height: 100px;
  border-radius: 50%;
} 

#MilleniumFalcon {
  position: absolute;
  z-index: 3;
  top: 55px;
  left: 680px; 
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

#MilleniumFalcon:hover {
    
}


#MattU {
    position: absolute;
    z-index: 4;
    top: 230px;
    left: 600px; 
    width: 260px;
    height: 260px;
    border-radius: 50%; 
  }

#MattU:hover {
    transition: transform 60s;
    transform: rotate(7200deg);
}

  #fun > div {
  
    
    background: transparent black;
    width: 35%;
    color: blueviolet;
    text-align: center;
    font-size: x-large;
    line-height: 30px;
    padding-top: 25px;
    
  }

  #aboutMe > div {
  
    
    background: transparent black;
    width: 35%;
    color: blueviolet;
    text-align: center;
    font-size: x-large;
    padding-top: 25px;
    
  }
