body {
  background: #c0c0c0;
}

/* Select the image with id of MattU */

#MattU {
    position: absolute;
    z-index: 4;
    top: 100px;
    left: 850px;
  }

  #fun > div {
  
    
    background: black;
    width: 35%;
    color: blueviolet;
    text-align: center;
    font-size: x-large;
    line-height: 30px;
    
  }

  #aboutMe > div {
  
    
    background: black;
    width: 35%;
    color: blueviolet;
    text-align: center;
    font-size: x-large;
    
  }
