body {
  background: #c0c0c0;
}

/* Select the image with id of MattU */

#MattU {
    position: absolute;
    z-index: 4;
    top: 212px;
    left: 800px;
  }

  #aboutMe > div {
  
    float: left;
    background: black;
    width: 25%;
    text-align: center;
    font-size: xx-large;
  }